@import 'mixins_media_queries';

footer{

    background-color: $background-gray-black;
    display:flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px;

    @include media-min("tablet-up"){
           
        flex-direction: row-reverse;
        gap:50px;

    }   

    @include media-min("desktop-up"){
           
        padding:30px 25px;

    }   



    a {

        text-decoration: none;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include media-min("tablet-up"){
           
            width:155px;
    
        }   
    

    }

    h4{

        color: white;
        
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
             
    }

    .gap{
        display:flex;
        gap:10px;
    }

    .liens{

        @include media-min("tablet-up"){
           
            display:flex;
            gap:10px;
    
        }  
        
        img{

            @include media-min("desktop-up"){
           
                width:12px;
        
            }   
        
        }
    
    }

}