@import 'variables';

%animation-button{

        z-index:1;
        position:relative;

        &:hover::after{

            opacity:1;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);

        }

        &::after{

            content:"";
            border-radius:25px;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            opacity:0;
            background: linear-gradient(193deg, lighten($primary-color,5%) -11.44%, lighten($secondary-color,5%) 123.93%);
            z-index:-1;
            transition : opacity 500ms, box-shadow 500ms;


        }


}