$primary-color: #9356DC;
$secondary-color: #FF79DA ;
$Tertiaire_color: #99E2D0;

$background-gray: #F6F6F6;

$background-gray-black: #353535;


$breakpoints: (
  "tablet-up": 768px,
  "desktop-up": 1024px,
);

