
@import 'variables';
@import 'footer';
@import 'mixins_media_queries';

*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}


body{
    display:flex;
    justify-content:center;
}

#main-container{

    width:100%;
    max-width: 1440px;
    box-sizing: border-box;
}

header {

    display:flex;
    justify-content:center;
    img{

        width: 162px; 
        padding: 14px 89px 13px 89px;
    }

}

.location-search{

    height:50px;
    background-color: #EAEAEA;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:17px;

    input{

        background-color: #EAEAEA;
        border:none;
    }

}

.info-menu {

    display:flex;
    flex-direction: column;
    gap:20px;
    align-items:center;
    background-color:$background-gray;
    padding:25px 15px 45px 15px;

    button{

        border-radius:25px;
        background :linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
        color:white;
        padding: 13px 18.75px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border:none;
    }

    p {
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        text-align: center;
    }

    h1{

        text-align: center;
        width:275px;

        @include media-min("desktop-up"){
           
            width:645px;
    
        }   
    
    }
}

.fonctionnement{

    display:flex;
    flex-direction:column;
    padding:40px 0;
    gap:20px;

    @include media-min("desktop-up"){
           
        padding:50px 180px;
        gap:25px;
    }   


    h1{

       margin-left:20px; 
    }

    .etapes{

        display:flex;
        flex-direction: column;
        gap:15px;

        @include media-min("tablet-up"){

            flex-direction: row;
            gap:5px;
        }

        article{

            display: flex;
            align-items: center;
            gap:15px;
            background-color: $background-gray;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding:25px;
            border-radius: 25px;
            width:240px;
            margin:auto;
            font-weight: 500;
            font-size: 14px;

            @include media-min("tablet-up"){

                width:22%;
            }

            div{
                display:flex;
                justify-content: center;
                align-items: center;
                border-radius:50%;
                background-color: $primary-color;
                color:white;
                padding:3px;
                width:15px;
                height:15px;
                position:relative;
                right:35px;

            }

        }

    }
}

.restaurants{

    background-color: $background-gray;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-bottom:60px;

    @include media-min("desktop-up"){
           
        padding: 0 180px;
        margin-bottom: 30px;

    }   


    h1{

        margin-top: 35px;
        margin-left:20px;
    }

    .images-restaurants{

        width:100%;
        height:190px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        

    }

    article {

        position:relative;
    }

    .popup{

        position:absolute;
        background-color: #99E2D0;
        display:flex;
        justify-content: center;
        align-items: center;
        color:#008766;
        width: 80px;
        height: 29px;
        top:5%;
        left:70%;
    }
 
     a {
        width:90%;
        margin: 0 18px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        text-decoration: none;
        color:black;

    }

    .restaurant-nom-icone{

        display:flex;
        justify-content: space-between;
        padding: 10px;
    }

    .global-range{

        display:flex;
        flex-direction: column;
        gap: 18px;

        @include media-min("desktop-up"){
           
            gap:50px;
    
        }   
    
    }

    .premiere-range{

        display:flex;
        flex-direction: column;
        gap:18px;

        @include media-min("tablet-up"){
           
            flex-direction: row;

        }

        @include media-min("desktop-up"){
           
            gap:100px;
    
        }   
    

    }

    .deuxieme-range{

        display:flex;
        flex-direction: column;
        gap:18px;

        @include media-min("tablet-up"){
           
            flex-direction: row;
    
        }   

        @include media-min("desktop-up"){
           
            gap:100px;
    
        }   
    
    
    }

   
}

