
@import 'variables';
@import 'footer';
@import 'placeholder';
@import'keyframes';

*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}


body{
    display:flex;
    justify-content:center;
}

#main-container{

    width:100%;
    max-width: 1440px;
    box-sizing: border-box;
}


header{
    display:flex;
    gap:42px;
    justify-content: center;
  


    a{
        text-decoration: none;
        padding-top: 14px;
        padding-left: 25px;

        @include media-min("desktop-up"){
           
            position:relative;
            right:35%;
    
        }   
    
    }

    .logo-ohmyfood{

        width:162px;
        padding: 14px 89px 13px 0px;
    }
}


.image-restaurant{

    img{

        object-fit: cover;
        width:100%;
        height:275px;
    }

}

main{

    background-color: $background-gray;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display:flex;
    flex-direction: column;
    gap:40px;
    position:relative;
    top:-59px;

    @include media-min("desktop-up"){
           
       max-width: 1055px;  //width: 70%;
       margin:auto;

    }   

    .section-titre-restaurant{

        display:flex;
        justify-content: center;
        gap:25px;
        padding:32px 17px 0px 17px;

        h1{
            font-family: "Shrikhand", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 25px;  
        }
        
    }

    .zone-menu{

        width:60%;
        margin:auto;

        h5{
            font-style: normal;
            font-weight: 300;
        }
    
       .card{
    
          display:flex;  
          align-items:flex-end;
          border-radius: 15.043px;
          background-color: #fff;
          box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
          margin-left: 10px;
          margin-right: 10px;
          overflow: hidden;
    
          animation: anim-menu $anim-apparition-plats both;
    
          @for $i from 1 through 10{
    
                &--#{$i} {
    
                    animation-delay: $anim-delay * $i;
                }
          }

            p {

                padding:15px;
                flex:1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            
            }
    
            .euro{
    
                padding-bottom: 15px;
                margin-right:10px;
                
                
            }
    
            .menu-check{
    
                width:0px;
                height: 66.8px;
                border-top-right-radius: 25%;
                border-bottom-right-radius: 25%;
                background-color:#99E2D0 ;
                color:#99E2D0;
                display:flex;
                justify-content: center;
                align-items:center;
                transition : width 500ms;

            
    
                i{
                    background-color: white;
                    border-radius: 50%;
                    padding:3px;
                    margin-left:18.5px;
                    transition: margin-left 500ms;
                    
                }
        
            }
    
            &:hover {

                .menu-check{
                
                    width:59px;

                    i{
                        margin-left: 0px;
                    }
                }

            }
                
    
        } 
    
       .entrées, .plats, .desserts{
    
        display:flex;
        flex-direction:column;
        gap:12px;
    
       }
    
       .titre-section{
    
        display:flex;
        gap:5px;
        flex-direction:column;
        margin-left: 10px;
    
            img{
    
                width:40px;
            }
    
       }
    
    }

   
   button{

    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
    color:white;
    width:186px;
    padding:16px 48px;
    font-weight: 500;
    margin: auto;
    border:none;

    @extend %animation-button;

   }
  

}


