$primary-color: #9356DC;
$secondary-color: #FF79DA ;
$Tertiaire_color: #99E2D0;


*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}


body{
    display:flex;
    justify-content:center;
}

#main-container{

    width:100%;
    max-width: 1440px;
    box-sizing: border-box;
}

header {

    display:flex;
    justify-content:center;
    img{

        width: 162px; 
        padding: 14px 89px 13px 89px;
    }

}

.location-search{

    height:50px;
    background-color: #EAEAEA;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:17px;

    .dot{
        display:block;
        width:20px;
        height:20px;
    }

    input{

        background-color: #EAEAEA;
        border:none;
    }

}

.info-menu {

    display:flex;
    flex-direction: column;
    gap:20px;
    align-items:center;
    background-color:#F6F6F6;
    padding:25px 15px 45px 15px;

    button{

        border-radius:25px;
        background :linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
        color:white;
        padding: 13px 18.75px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border:none;
    }

    p {
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        text-align: center;
    }

    h1{

        text-align: center;
        width:275px;
    }
}

.fonctionnement{

    display:flex;
    flex-direction:column;
    padding:40px 0;
    gap:20px;

    h1{

       margin-left:20px; 
    }

    &__etapes{

        display:flex;
        flex-direction: column;
        gap:15px;

        article{

            display: flex;
            align-items: center;
            gap:15px;
            background-color: #F6F6F6;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding:25px;
            border-radius: 25px;
            width:240px;
            margin:auto;
            font-weight: 500;
            font-size: 14px;

            div{
                display:flex;
                justify-content: center;
                align-items: center;
                border-radius:50%;
                background-color: $primary-color;
                color:white;
                padding:3px;
                width:15px;
                height:15px;
                position:relative;
                right:35px;

            }

        }

    }
}