footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    gap: 50px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 30px 25px;
  }
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  footer a {
    width: 155px;
  }
}
footer h4 {
  color: white;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
footer .gap {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  footer .liens {
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 1024px) {
  footer .liens img {
    width: 12px;
  }
}

.info-menu .button {
  z-index: 1;
  position: relative;
}
.info-menu .button:hover::after {
  opacity: 1;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
}
.info-menu .button::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(193deg, #a16be0 -11.44%, #ff93e1 123.93%);
  z-index: -1;
  transition: opacity 500ms, box-shadow 500ms;
}

@keyframes anim-coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-container {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes main-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-menu {
  0% {
    transform: translateX(-1500px);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  90% {
    transform: translateX(25px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#loader-container {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  animation: loader-container 4s both;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

body {
  display: flex;
  justify-content: center;
}

#main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  opacity: 0;
  animation: main-container 3s 1s both;
}

header {
  display: flex;
  justify-content: center;
}
header img {
  width: 162px;
  padding: 14px 89px 13px 89px;
}

.location-search {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .location-search {
    box-shadow: none;
  }
}
.location-search input {
  background-color: #EAEAEA;
  border: none;
  text-align: center;
  width: 109px;
}

.info-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #F6F6F6;
  padding: 25px 15px 45px 15px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .info-menu {
    box-shadow: none;
  }
}
.info-menu .button {
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  padding: 13px 18.75px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.info-menu p {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}
.info-menu h1 {
  text-align: center;
  width: 275px;
}
@media screen and (min-width: 1024px) {
  .info-menu h1 {
    width: 645px;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px;
    gap: 25px;
  }
}
.fonctionnement h1 {
  margin-left: 20px;
}
.fonctionnement .etapes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .fonctionnement .etapes {
    flex-direction: row;
    gap: 5px;
  }
}
.fonctionnement .etapes article {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 25px;
  border-radius: 25px;
  width: 240px;
  margin: auto;
  font-weight: 500;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .fonctionnement .etapes article {
    width: 22%;
  }
}
.fonctionnement .etapes article div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  padding: 3px;
  width: 15px;
  height: 15px;
  position: relative;
  right: 35px;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 0 180px;
    margin-bottom: 30px;
  }
}
.restaurants h1 {
  margin-top: 35px;
  margin-left: 20px;
}
.restaurants .images-restaurants {
  width: 100%;
  height: 190px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants article {
  position: relative;
}
.restaurants .popup {
  position: absolute;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  width: 80px;
  height: 29px;
  top: 5%;
  right: 15px;
}
.restaurants a {
  width: 90%;
  margin: 0 18px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}
.restaurants .deux-coeurs {
  position: relative;
  width: 23px;
  height: 21px;
}
.restaurants .coeur {
  position: absolute;
  right: 5px;
  top: 5px;
}
.restaurants .coeur-plein {
  opacity: 0;
}
.restaurants .coeur-plein:hover {
  animation: anim-coeur 1s both;
}
.restaurants .restaurant-nom-icone {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurants .global-range {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .restaurants .global-range {
    gap: 50px;
  }
}
.restaurants .premiere-range {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .restaurants .premiere-range {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .premiere-range {
    gap: 100px;
  }
}
.restaurants .deuxieme-range {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .restaurants .deuxieme-range {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .deuxieme-range {
    gap: 100px;
  }
}